<h1>Welcome to the ABC<small>$</small> of Money</h1>
<p>
	You've found the funnest way to overcome your 
	<%= link_to "Financial Literacy" , "http://theabcsofmoney.com"%>!
</p>
<p>
	<a href = "#"> Enroll Now!</a>
</p>

