/*Button variables */
$btnPrimaryBackground: blue;

/*Color Variables */
$abcgreen: #00AD7F;
$navBarGray : #222;


/*Font variables */
$baseFontFamily: 'Raleway',sans-serif;
@import url(http://fonts.googleapis.com/css?family=Raleway:400,800);

/*Nav Bar variables */	
$navbarBackgroundHighlight: $navBarGray;
$navbarBackground: $navBarGray;


ul.nav li.dropdown:hover > ul.dropdown-menu{
    display: block;    
}
a.menu:after, .dropdown-toggle:after {
    content: none;
}

.pageTitle{
	h1{
		font-size:7.0em;
		text-align: left;
	}
}

.hero-unit{
	color: white;
	background: #00AD7F; /* Old browsers */
  background: -moz-linear-gradient(45deg,  #00AD7F 0%, #D7D6D1 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#00AD7F), color-stop(100%,#D7D6D1)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg, $abcgreen 0%,#D7D6D1 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg, #00AD7F 0%,#D7D6D1 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg,  #00AD7F 0%,#D7D6D1 100%); /* IE10+ */
  background: linear-gradient(45deg,  #00AD7F 0%,#D7D6D1 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020031', endColorstr='#D7D6D1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.testimonials .span4 {
      text-align: center;
      h2 {
      font-weight: normal;
    		}
    
    p {
      margin-left: 10px;
      margin-right: 10px;
    }
  }


@import 'bootstrap';
	body{
		padding-top:60px;
	}

	/*Typography*/
	h1, h2, h3, h4, h5, h6 {
	  line-height: 1;
	}

	h1 {
	  font-size: 3em;
	  letter-spacing: -2px;
	  margin-bottom: 30px;
	  text-align: center;
	}

	h2 {
	  font-size: 1.7em;
	  letter-spacing: -1px;
	  margin-bottom: 30px;
	  text-align: center;
	  font-weight: normal;
	  color: #999;
	}

	p {
	  font-size: 1.1em;
	  line-height: 1.7em;
	}

@import 'bootstrap-responsive';
.navbar-inner{
	@include box-shadow(none !important);
	border: 0;
}
.nav{
	a{
  	text-decoration: none;
  	&:hover {
  		text-decoration: green;
  					}
		}
	}
.footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
  a {
    color: #555;
    &:hover { 
      color: blue;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}


