/*Button variables */
	$btnPrimaryBackground: blue;

/*Color Variables */
	$abcgreen: #00AD7F;

/*Font variables */
	$baseFontFamily: 'Raleway',sans-serif;
	@import url(http://fonts.googleapis.com/css?family=Raleway:400,800);

/*Nav Bar variables */	
	$navbarBackgroundHighlight: white;
	$navbarBackground:white;


@import 'bootstrap';
body{
	padding-top:60px;
}

@import 'bootstrap-responsive';
.navbar-inner{
	@include box-shadow(none !important);
	border: 0;
}

.footer{
	margin-top:50px;
	color: $grayLight;
	a{
		color: $gray;
	}
}


