$baseFontFamily: Playfair Display;
@import url(http://fonts.googleapis.com/css?family=Playfair+Display);

@import 'bootstrap';
@import 'bootstrap-responsive';

$navbarBackgroundHighlight: white;
$navbarBackground: white;
$btnPrimaryBackground: blue;

.navbar-inner{
	@include box-shadow(none !important);
	border: 0;
}

.footer{
	margin-top:50px;
	color: $grayLight;
	a{
		color: $gray;
	}
}

